html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#content {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    min-width: 1024px;
    position: relative;
    text-align: center;
}

#hero {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 1024px;
    height: 895px;
    background-image: url("img/stickers_hero.jpg");
    background-position: 50% 45%;
    position: relative;
    top: 0;
    background-size: 1500px auto;
}
#hero-link {
    max-width: inherit;
    min-width: inherit;
    height: 895px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
li {
    list-style: none;
    float: left;
}
#main-nav {
    position: relative;
    top: 18px;
    width: 980px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: #707070;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 2px;
    overflow: hidden;
}
nav {
    height: inherit;
}
#main-nav ul {
    padding: 0;
    margin: 0;
    position: relative;
    height: inherit;
}
#main-nav li {
    z-index: 10;
    position: relative;
    display: inline-block;
    height: inherit;
    background: #707070;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)),
                    color-stop(0.05, rgba(0, 0, 0, 0)),
                    color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
                -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)),
                    color-stop(0.002, rgba(0, 0, 0, 0)),
                    color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))),
                -webkit-gradient(linear, 0 100%, 0 0, from(#666),
                    color-stop(0.5, #5e5e5e),
                    color-stop(0.51, #707070), to(#808080));
}
#main-nav li:hover {
    background: rgba(0, 0, 0, 0.4);
}
#main-nav li:last-child:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)),
                    color-stop(0.05, rgba(0, 0, 0, 0)),
                    color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
                -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)),
                    color-stop(0.002, rgba(0, 0, 0, 0)),
                    color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))),
                -webkit-gradient(linear, 0 100%, 0 0, from(#666),
                    color-stop(0.5, #5e5e5e),
                    color-stop(0.51, #707070), to(#808080));
}
#main-nav a {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(img/globalnav_text.png) no-repeat 50% 3px;
}
#main-nav span {
    visibility: hidden;
}
#nav-apple,
#nav-store,
#nav-mac,
#nav-ipod,
#nav-iphone {
    width: 106px;
    height: inherit;
}
#nav-ipad,
#nav-itunes,
#nav-support {
    width: 105px;
    height: inherit;
}
#nav-store a {
    background-position:  50% -27px;

}
#nav-mac a {
    background-position:  50% -57px;
}
#nav-ipod a {
    background-position:  50% -87px;
}
#nav-iphone a {
    background-position:  50% -117px;
}
#nav-ipad a {
    background-position:  50% -147px;
}
#nav-itunes a {
    background-position:  50% -177px;
}
#nav-support a {
    background-position:  50% -207px;
}
#nav-search {
    width: 135px;
    height: inherit;
}
header {
    height: 446px;
    width: 980px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#hero-title {
    z-index: 1;
    padding: 130px 0 5px 0;
    display: inline-block;
}

#hero-sub {
    height: 31px;
    overflow: hidden;
    display: inline-block;
    z-index: 10;
    position: relative;
}
#hero-sub img:hover {
    margin-top: -32px;
}
#hero-sub img {
    height: 62px;
    width: 980px;
}
#sidekicks ul {
    height: 200px;
    max-width: inherit;
    min-width: inherit;
    padding: 0;
    margin: 0;
}
#sidekicks li {
    display: inline-block;
    width: 25%;
    height: inherit;
    overflow: hidden;
    position: relative;
    padding: 1px;
    box-sizing: border-box;
}
#sidekicks a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 364px;
}
#sidekicks div {
    background-position: center;
    height: 100%;
    width: 100%;
}
#promo_dreams {
    background: url("img/promo_dreams.jpg");
}
#promo_yosemite {
    background: url("img/promo_yosemite.jpg");
}
#promo_beats {
    background: url("img/promo_beats.png");
}
#promo_college {
    background: url("img/promo_college.jpg");
}
footer {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    color: rgb(110, 110, 110);
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    width: 1024px;
    padding: 25px 0 26px 0;
}
footer div {
    height: 12px;
}
footer a {
    text-decoration: none;
    color: rgb(0, 136, 204);
    display: inline-block;
}
footer a:hover {
    text-decoration: underline;
}

footer li.first {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}
footer li {
    border-left: 1px solid rgb(204, 204, 204);
    margin-left: 6px;
    padding-left: 6px;
}
#top-footer {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
#footer-store {
    width: 480px;
    float: left;

}
#footer-links {
    float: right;
}
#footer-links li {
    padding-left: 6px;
    margin-left: 6px;
    display: inline-block;
}
#footer-links li img {
    position: absolute;
    top: -2px;
    height: 16px;
    width: 16px;
}
#footer-legal {
    clear: both;
    padding-left: 22px;
    padding-top: 15px;
}
footer ul {
    margin-top: 0;
    -webkit-padding-start: 0;
}