html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#content {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    min-width: 1024px;
}

#hero {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 1024px;
    height: 895px;
    background-image: url("img/stickers_hero.jpg");
    background-position: 50% 56%;
    position: relative;
    top: 0;
}
li {
    list-style: none;
    float: left;
}
#main-nav {
    position: relative;
    top: 18px;
    width: 980px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: #707070;
}
nav {
    height: inherit;
}
#main-nav ul {
    padding: 0;
    margin: 0;
    position: relative;
    height: inherit;
}
#main-nav li {
    display: inline-block;
    height: inherit;
}
#main-nav a {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
}
#nav-apple,
#nav-store,
#nav-mac,
#nav-ipod,
#nav-iphone {
    width: 106px;
    height: inherit;
}
#nav-ipad,
#nav-itunes,
#nav-support {
    width: 105px;
    height: inherit;
}
#nav-search {
    width: 135px;
    height: inherit;
}
#sidekicks ul {
    height: 200px;
    max-width: inherit;
    min-width: inherit;
    padding: 0;
    margin: 0;
}
#sidekicks li {
    display: inline-block;
    width: 25%;
    height: inherit;
    overflow: hidden;
    position: relative;
    padding: 1px;
    box-sizing: border-box;
}
#sidekicks a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 364px;
}
#sidekicks div {
    background-position: center;
    height: 100%;
    width: 100%;
}
#promo_dreams {
    background: url("img/promo_dreams.jpg");
}
#promo_yosemite {
    background: url("img/promo_yosemite.jpg");
}
#promo_beats {
    background: url("img/promo_beats.png");
}
#promo_college {
    background: url("img/promo_college.jpg");
}
footer {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    color: rgb(110, 110, 110);
    font-size: 10px;
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
}
footer a {
    text-decoration: none;
    color: rgb(0, 136, 204);
}
footer a:hover {
    text-decoration: underline;
}